body{
    text-align: center;
}
#cuerpo{
    margin-top: 10px;
    width:1200px;
    height:auto;
}

#izquierda{
    margin-top: 1.7%;
    margin-left: 0;
    border: 1px solid blue;
    width: 40%;
    height: auto;
    margin-left: 0;
    position: absolute;


}

#derecha{
    margin-top: 1.7%;
    border: 1px solid green;
    width: 40%;
    height: auto;
    margin-left:41%;
    position: absolute;
    
    
}

p.jugador{
    margin-top: 0;
    float: left;
    border: 1px solid black;
    height: auto;
    width: auto;
    font-size: 10px;
    margin-left: 0;
    position: absolute;
}
p.banca{
    margin-top: 0;
    float: left;
    border: 1px solid black;
    height: auto;
    width: auto;
    font-size: 10px;
    margin-left: 41%;
    position: absolute;
}

#plantarse{
    width:auto ;
    float: left;
    font-size: 12px;
    margin-left: 15%;

}

img#jugador{
    float: left;
     
}

img#volteado{
    margin-top:8%;
}

#guardadas{
    position: relative;
    width: 80%;
    height: auto;
    float: left;
    margin-top: 10%;
  
}


#reinicio{
    float: left;
    background-color: green;
    margin-top:5%;
    margin-bottom: 7%;

}

p{
    margin-bottom: 7%;
    margin-top: 5.5%;
    float: left;
}


#guardadasBanco{
    position: relative;
    width: 80%;
    height: auto;
    float: left;
    margin-top: 10%;
      
}


